header {
  margin-top: 10px;
  margin-bottom: 10px; }

section.container {
  margin-bottom: 25px; }

main.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../res/img/icon_banner.png");
  background-size: cover;
  height: 360px;
  border-radius: 0px;
  margin-top: 40px;
  margin-bottom: 40px; }

nav div.row h4 {
  text-align: right;
  display: inline-block; }

div.card {
  height: 100%; }

div.row div h2 {
  padding-top: 35px; }

section div.answer {
  margin-left: 30px; }
  section div.answer img {
    z-index: 2;
    width: 100%; }
  section div.answer p {
    position: relative;
    z-index: 3;
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 30px;
    margin-bottom: 50px; }

section p.question {
  color: #8d00e1;
  background-image: url("../res/img/speech_box_left_min.svg");
  margin: 0px 60px 15px 0px;
  padding: 8px 0px 35px 15px; }

section p.answer {
  color: #ce7006;
  background-image: url("../res/img/speech_box_right_min.svg");
  margin: 0px 0px 15px 60px;
  padding: 8px 0px 35px 15px; }

section div.question {
  margin-right: 30px; }
  section div.question img {
    position: absolute;
    z-index: 2; }
  section div.question p {
    position: relative;
    z-index: 3;
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 30px;
    margin-bottom: 50px; }

a {
  color: inherit;
  font-weight: bold; }
  a:hover {
    color: inherit; }
